img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-pic{
    opacity: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    width: 100%;
}

h1 {
    font-size: 5em;
}

#page {
    padding: 100px;
  }
  
form{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
    text-align: center;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
  
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: none; /* Make it into a block element to fill the whole list */
}
  
#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.hashtags {
    font-size: 0.8em;
    background-color: #B8FBFB;
}

.col-4 col-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;

}

.card-text{
  font-size: 1.3em;
}

.btn{
  background-color: #B161EC;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  background-color: #F7ECFF;
}

.navbar .navbar-expand-lg .navbar-light .collapse .navbar-collapse .navbar-nav .nav-item li a{
  color: #B161EC;
}

.slogan{
  font-style: italic; 
  font-size: 2em;
  font-weight:400;
}